{% extends "main.html" %}

{% block title %}
Admin page
{% endblock %}

{% block message %}
    Database contains {{ n_items }} records.</br>
    {% if last_records %}
    <table border>
        <tr>
            <th>Date</th>
            <th>User-agent</th>
            <th>Parameters</th>
        </tr>
        {% for item in last_records %}
        <tr>
            <td>{{ item.date }}</td>
            <td>{{ item.agent }}</td>
            <td>{{ item.params or "" }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}